#testimonial
{
	margin: 100px 0;
}
.testimonials
{
	border-left: 4px solid #7b1798;
	margin-top: 50px;
	margin-bottom: 50px;
}

.testimonials img
{
	height: 60px;
	width: 60px;
	border-radius: 50px;

} 

.user-details
{
	display:inline-block;
	font-size: 12px;
}